@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4c2e05;
    margin: 0;
}

/* -- HOME PAGE -- */

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c6a788;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.librarian_description {
    font-size: 1.3rem;
    font-weight: 200;
    max-width: 75%;
    margin-bottom: 1rem;
}

.search_area {
    width: 100%;
    max-width: 60%;
}

.search_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search_bar {
    flex: 1;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

.search_button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #d8c8bb;
}


.search_button:hover:not(:disabled) {
    background-color: #c98d51;
}

.search_button:disabled {
    background-color: #d8c8bb;
    cursor: not-allowed;
}

/* -- RECOMMENDATION PAGE -- */

.recommendation {
    min-height: 100vh;
    background-color: #c6a788;

}

.recommendation_box {
    padding: 10px;
}

.recommendation_inner_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 10px;
    border-bottom: 4px solid;
}

.recommendation_title {
    font-size: 2rem;
    font-weight: bold;
}

.recommendation_description {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.new_search_button {
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    background-color: #d8c8bb;
    font-size: 1.2rem;
}

.new_search_button:hover {
    background-color: #c98d51;
}

.column {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.each_column {
    flex: 1;
    min-width: 500px;
}

.column_title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid;
}

.recommendation_card {
    background-color: #d8c8bb;
    border: 2px solid #4c2e05;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 1rem;
}

.recommendation_card.has_link {
    cursor: pointer;
}

.recommendation_card:hover {
    box-shadow: 0px 3px 5px;
}

.each_card_title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.each_card_part {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 10px;
}